<img [src]="minhaImagem">
<h1>Eventos</h1>
<h2>Olá, Aqui poderás ver todos os eventos que estão a acontecer de momento e aqueles que irão acontecer no futuro com as suas respetivas datas de jogo e respetivas localidades.</h2>
<h3>Em baixo como podes ver tens duas opções, aqui podes criar um evento ou então ver outros criados por outros utilizadores</h3>
<div class="content">
<button routerLink="events2">Quero criar o meu evento</button>
</div>
<div class="content2">
<button routerLink="events3">Quero ver os eventos a decorrer</button>
</div>
<div class="content3">
    <button routerLink="menu">Voltar ao menu principal</button>
    </div>