<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
      <head>
        <meta charset="ISO-8859-1">
        <title>Desporto24</title>
        <link rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<div class="img">
<h1>Desporto24</h1>
<div *ngIf="showScreen2">
<h2>A tua conta neste momento está bloqueada</h2>
<button id="botao2" (click)="goToLogin()">Clica aqui para voltares ao Login</button>
</div>
<body *ngIf="showScreen">
    <button type="submit" id="botao1" (click)="bloquearConta()">
        <i *ngIf="showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="showLoading">A verificar conta</span>
        <span *ngIf="!showLoading">Clica para bloqueares a tua conta</span>
    </button>
</body>
    <div *ngIf="showScreen3">
        <img class="img3">
    <h3>Ocorreu um erro ao verificar a tua conta, por favor vamos pedir que tentes de novo</h3>
</div>
</div>
</html>