<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
      <head>
        <meta charset="ISO-8859-1">
        <title>Desporto24</title>
        <link rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <div *ngIf="dark" class="img">
        <h1 id="h1white">Desporto24</h1>
        <div id="container2">
        <p id="D24a">Desporto24</p>
            <p id="D241a">Desporto24</p>
            <p id="D243a">Desporto24</p>
            <p id="D244a">Desporto24</p>
            <p id="D245a">Desporto24</p>
            </div>
    <img id="img2">
<h2 id="h2white">A tua conta neste momento está bloqueada, pedimos-te agora para te dirigires ao teu email para novas instruções</h2>
<button id="botao2" (click)="goToLogin()">Clica aqui para voltares ao Login</button>
</div>
<div *ngIf="!dark" class="img2">
    <h1 id="h1black">Desporto24</h1>
    <div id="container">
        <p id="D24">Desporto24</p>
            <p id="D241">Desporto24</p>
            <p id="D243">Desporto24</p>
            <p id="D244">Desporto24</p>
            <p id="D245">Desporto24</p>
            </div>
    <img id="img2">
<h2 id="h2black">A tua conta neste momento está bloqueada, pedimos-te agora para te dirigires ao teu email para novas instruções</h2>
<button id="botao2" (click)="goToLogin()">Clica aqui para voltares ao Login</button>
</div>