.footer{
    overflow: hidden;
    background-color: black;
    padding: 110px;
}
h1{
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 123%;
    left: 0%;
    transform: translateX(0%) translateY(0);
}
.cenas{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 130%;
    left: 0%;
    transform: translateX(0%) translateY(0);
}
i{
    color: white;
    padding: 0px 10px;
}
i:hover
{
    color: var(--secundary-color);
}