<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-4">
        </div>
        <h1>Segue-nos nas redes sociais</h1>
        <div class="cenas">
            <a href="#"><i target="_blank" class="bi bi-facebook"></i></a>
            <a href="#"><i target="_blank" class="bi bi-whatsapp"></i></a>
            <a href="#"><i target="_blank" class="bi bi-instagram"></i></a>
            <a href="#"><i target="_blank" class="bi bi-youtube"></i></a>
        </div>
     </div>   
    </div>