<div *ngIf="dark" class="container-fluid footer">
        <h1 id="h1white">Segue-nos nas redes sociais</h1>
        <div class="cenaswhite">
            <a href="#"><i id="facebookwhite" target="_blank" class="bi bi-facebook"></i></a>
            <a href="#"><i id="whatswhite" target="_blank" class="bi bi-whatsapp"></i></a>
            <a href="#"><i id="instawhite" target="_blank" class="bi bi-instagram"></i></a>
            <a href="#"><i id="youwhite" target="_blank" class="bi bi-youtube"></i></a>
        </div>
     </div>
     <div *ngIf="!dark" class="container-fluid footer2">
        <h1 id="h1black">Segue-nos nas redes sociais</h1>
        <div class="cenasblack">
            <a href="#"><i id="facebookblack" target="_blank" class="bi bi-facebook"></i></a>
            <a href="#"><i id="whatsblack" target="_blank" class="bi bi-whatsapp"></i></a>
            <a href="#"><i id="instablack" target="_blank" class="bi bi-instagram"></i></a>
            <a href="#"><i id="youblack" target="_blank" class="bi bi-youtube"></i></a>
        </div>
     </div>