.img-fluid{
    width: 2000px;
    height: 1000px;
}
h1{
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
}
h2 {
    color: white;
    font-size: 40px;
    margin: 0;
    width: max-content;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
}
#input1{
    font-size: 20px;
    height: 30px;
    width: 300px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
.img{
    animation: transition 0.75s;
    height: 100vh;
    background-image: url(src\assets\Sports1.jpg);     
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.botao1{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 200px;
    margin: 0;
    padding: 1px;
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
.botao1:hover{
    background-color: lightblue;
    color: white;
}
.botao2{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 200px;
    margin: 0;
    padding: 1px;
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    position: absolute;
        top:80%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
.botao2:hover{
    background-color: lightblue;
    color: white;
}
@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .img {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}