<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Desporto24</title>
    <link rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="img">
<body>
<h1 id="h1">Indica-nos por favor o teu email abaixo:</h1>
<form #resetPassword="ngForm" (ngSubmit)="sendEmail(resetPassword.value)">
    <p><input id="input1" name="email" [(ngModel)]="perfil.email" type="text" placeholder="Email" required></p>  
<button [disabled]="!resetPassword.valid" class="botao1">
    <i *ngIf= "showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="showLoading">A carregar...</span>
        <span *ngIf="!showLoading">Enviar email</span>
</button>
<button class="botao2" (click)="goToLogin()">voltar</button>
</form>
</body>
</div>
</html>