.img-fluid{
    width: 2000px;
    height: 1000px;
}
h1{
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
}
h2{
    color: white;
    font-size: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
}
label{
    color: white;
    width: max-content;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.input1{
    font-size: 20px;
    color:black;
    width: 400px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
.input3{
    color: black;
    font-size: 20px;
    width: 200px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#radio1{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
}
#radio2{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
}
#masculino{
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
}
#feminino{
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 50%;
        left: 85%;
        transform: translate(-50%, -50%);
}
#genero{
    font-size: 20px;
    font-weight: bold;
    color:white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
}
#assunto{
    font-size: 20px;
    color:black;
    width: 600px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 60%;
        left: 30%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#email{
    font-size: 20px;
    color:black;
    width: 400px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 60%;
        left: 77.5%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
textarea{
    font-size: 20px;
    color:black;
    width: 1100px;
    height: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
#botao1{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 300px;
    margin: 0;
    padding: 1px;
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#botao1:hover{
    background-color: lightblue;
    color: white;
    transition: background-color 0.5s;    
}
@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .img {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}
.img{
            animation: transition 0.75s;
            height: 100vh;
            background-image: url(src\assets\tenis4.jpg);     
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
        }