<div class="img">
    <h1>Desporto24</h1>
<h2>Olá {{NomeUtilizador()}}, qual é o desporto que queres fazer hoje?</h2>
<div class="content">
    <button href="#" routerLink="events" routerLinkActive="active-link">Eventos</button>
</div>
<div class="content2">
    <button (click) = "alterarDados()" routerLinkActive="active-link">Alterar dados do perfil</button>
</div>
<div class="content3">
    <button (click) = "alterarPassword()" routerLinkActive="active-link">Alterar nome de utilizador/password</button>
</div>
<div class="content4">
    <button routerLink="Utilizadores">Mais utilizadores</button>
</div>
<div class="content5">
    <button (click)="remover()" routerLink="login">Terminar Sessão</button>
</div>
<input [(ngModel)]="perfil.foto" (change)="onSelectedFile($event)" name="foto" type="file" id="inpFile" accept="image/*">
    <div class="image-preview" id="imagePreview">
    <img [src]="url" alt="Image Preview" class="image-preview__image">
    <span  class="image-preview__default-text"></span>
</div>

