<div *ngIf="dark" class="img">
      <h1 id="h1white">Desporto24</h1>
      <div (click)="MostrarMenu()" id="img-fluid2" *ngIf="!showMenu">
        <img src="{{perfil.foto}}" class="image-preview__image2" class="rounded-circle img-thumbnail">
        <p>Abrir Menu</p>
      </div>
      <div *ngIf="showMenu" id="content">
        <p id="D243menu">Desporto24</p>
            <p id="D244menu">Desporto24</p>
            <p id="D245menu">Desporto24</p>
            <p id="D246menu">Desporto24</p>
            <p id="D247menu">Desporto24</p>
            <p id="D248menu">Desporto24</p>
        <h3>{{perfil.username}}</h3>
        <img src="{{perfil.foto}}" id="img-fluid" class="rounded-circle" alt=""/>
        <button (click)="NaoMostrarMenu()" id="botaoFechar">X</button>
        <ul>
        <li id="opcao2" (click)="alterarDados()" routerLinkActive="active-link">Alterar dados do perfil</li>
        <li id="opcao3" (click)="alterarPassword()" routerLinkActive="active-link">Alterar nome de utilizador/password</li>
        <li id="opcao4" (click)="verDadosPerfil()" routerLinkActive="active-link">Ver dados do meu perfil</li>
        <li id="opcao6" (click)="Utilizadores()" routerLinkActive="active-link">Mais Utilizadores</li>
        <li id="opcao7" (click)="CriarSessao()" routerLinkActive="active-link">Criar Sessão</li>
        <li id="opcao5" (click)="terminarSessao()" routerLinkActive="active-link">Terminar Sessão</li>
        </ul>
      </div>
      <div id="container2">
        <p id="D24a">Desporto24</p>
                <p id="D241a">Desporto24</p>
                <p id="D243a">Desporto24</p>
                <p id="D244a">Desporto24</p>
                <p id="D245a">Desporto24</p>
<h2 id="h2white">Sessões disponíveis</h2>
  <div id="content2" *ngIf="logOut">
    <p id="D235logOut">Desporto24</p>
        <p id="D236logOut">Desporto24</p>
        <p id="D240logOut">Desporto24</p>
        <p id="D239logOut">Desporto24</p>
        <p id="D238logOut">Desporto24</p>
        <p id="D237logOut">Desporto24</p>
    <h4>Tens a certeza que queres terminar a sessão?</h4>
    <button id="botao6" (click)="remover()">Sim</button>
    <button id="botao7" (click)="voltar()">Não</button>
    </div>
<form>
    <input name="searchTerm" #searchTerm="ngModel" ngModel (ngModelChange)="procurarSessoes(searchTerm.value)" id="input1" type="search" placeholder="Procurar sessão...">
  </form>
<button id="botao1" type="button" (click)="obterSessoes(true)" class="btn btn-info">
    <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i>
    <i *ngIf="!refreshing" class="fas fa-sync"></i>
</button>
<table id="tabela1">
<thead>
    <tr>
        <th>Foto do local de jogo</th>
        <th>Jogo criado por</th>
        <th>Nº de jogadores</th>
        <th>Data de jogo</th>
        <th>Localidade</th>
    </tr>
</thead>
<tbody *ngFor="let sessao of sessoes" id="tabela2">
        <td>
            <img height="40" width="40" src="{{sessao.foto}}" class="rounded-circle img-fluid img-thumbnail" alt=""/>
        </td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.utilizador}}</td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.desporto}}</td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.jogadores}} </td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.localidade}}</td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.private}} </td>
</tbody>
</table>
<div *ngIf="show" id="viewPerfilModal">
    <p id="D24">Desporto24</p>
    <p id="D241">Desporto24</p>
    <p id="D242">Desporto24</p>
    <p id="D243">Desporto24</p>
    <p id="D244">Desporto24</p>
    <p id="D245">Desporto24</p>
    <p id="D246">Desporto24</p>
    <p id="D247">Desporto24</p>
    <p id="D248">Desporto24</p>
      <div class="image-preview" id="imagePreview">
        <img src="{{selectedSessao?.foto}}" alt="Image Preview" class="image-preview__image"/>
      </div>
<ul>
<li id="dataNascimento">Data de jogo</li>
    <li id="dataNascimento2"> {{selectedSessao?.dataDeJogo}}
    </li>
    <li id="genero">Nº máximo jogadores</li>
    <li id="genero2"> {{selectedSessao?.jogadores}} </li>
    <li id="paisNascimento">Localidade</li>
    <li id="paisNascimento2"> {{selectedSessao?.localidade}} </li>
    <li id="desportosFavoritos">Morada de jogo</li>
    <li id="desportosFavoritos2"> {{selectedSessao?.morada}}</li>
  <li id="estadoDaConta">Tipo de jogo</li>
  <li id="membroDesde">Jogo criado por:</li>
  <li id="membroDesde2"> {{selectedSessao?.utilizador}}</li>
<li  id="ultimoLogin">Jogo criado no dia:</li>
<li  id="ultimoLogin2"> {{selectedSessao?.dataDeJogoCriado}}</li>
</ul>
<button (click)="fecharSessao()" id="botaoFechar">X</button>
<button id="setadir" type="button"><i class="fas fa-angle-double-right"></i>&nbsp;&nbsp;</button>
<button id="setaesq" type="button"><i class="fas fa-angle-double-left"></i>&nbsp;&nbsp;</button>
<button id="botaoChat">Iniciar Chat</button>
</div>
</div>
</div>
<div *ngIf="!dark" class="img2">
      <h1 id="h1black">Desporto24</h1>
      <div (click)="MostrarMenu()" id="img-fluid2black" *ngIf="!showMenu">
        <img src="{{perfil.foto}}" class="image-preview__image2" class="rounded-circle img-thumbnail">
        <p>Abrir Menu</p>
      </div>
      <div *ngIf="showMenu" id="content">
        <p id="D243menu">Desporto24</p>
        <p id="D244menu">Desporto24</p>
        <p id="D245menu">Desporto24</p>
        <p id="D246menu">Desporto24</p>
        <p id="D247menu">Desporto24</p>
        <p id="D248menu">Desporto24</p>
        <h3>{{perfil.username}}</h3>
        <img src="{{perfil.foto}}" id="img-fluid" class="rounded-circle" alt=""/>
        <button (click)="NaoMostrarMenu()" id="botaoFechar">X</button>
    <ul>
    <li id="opcao2" (click)="alterarDados()" routerLinkActive="active-link">Alterar dados do perfil</li>
    <li id="opcao3" (click)="alterarPassword()" routerLinkActive="active-link">Alterar nome de utilizador/password</li>
    <li id="opcao4" (click)="verDadosPerfil()" routerLinkActive="active-link">Ver dados do meu perfil</li>
    <li id="opcao6" (click)="Utilizadores()" routerLinkActive="active-link">Mais Utilizadores</li>
    <li id="opcao7" (click)="CriarSessao()" routerLinkActive="active-link">Criar Sessão</li>
    <li id="opcao5" (click)="terminarSessao()" routerLinkActive="active-link">Terminar Sessão</li>
    </ul>
    </div>
    <div id="container">
      <p id="D24">Desporto24</p>
      <p id="D241">Desporto24</p>
      <p id="D243">Desporto24</p>
      <p id="D244">Desporto24</p>
      <p id="D245">Desporto24</p>
<h2 id="h2black">Sessões disponíveis</h2>
  <div id="content2" *ngIf="logOut">
    <p id="D235logOut">Desporto24</p>
        <p id="D236logOut">Desporto24</p>
        <p id="D240logOut">Desporto24</p>
        <p id="D239logOut">Desporto24</p>
        <p id="D238logOut">Desporto24</p>
        <p id="D237logOut">Desporto24</p>
    <h4>Tens a certeza que queres terminar a sessão?</h4>
    <button id="botao6" (click)="remover()">Sim</button>
    <button id="botao7" (click)="voltar()">Não</button>
    </div>
<form>
    <input name="searchTerm" #searchTerm="ngModel" ngModel (ngModelChange)="procurarSessoes(searchTerm.value)" id="input1" type="search" placeholder="Procurar sessão...">
  </form>
<button id="botao1" type="button" (click)="obterSessoes(true)" class="btn btn-info">
    <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i>
    <i *ngIf="!refreshing" class="fas fa-sync"></i>
</button>
<table id="tabela1">
<thead>
    <tr>
        <th>Foto do local de jogo</th>
        <th>Jogo criado por</th>
        <th>Nº de jogadores</th>
        <th>Data de jogo</th>
        <th>Localidade</th>
    </tr>
</thead>
<tbody *ngFor="let sessao of sessoes" id="tabela2">
        <td>
            <img height="40" width="40" src="{{sessao.foto}}" class="rounded-circle img-fluid img-thumbnail" alt=""/>
        </td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.utilizador}}</td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.desporto}}</td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.jogadores}} </td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.localidade}}</td>
        <td (click)="onSelectSessao(sessao)"> {{sessao.private}} </td>
</tbody>
</table>
<div *ngIf="show" id="viewPerfilModal">
    <p id="D24">Desporto24</p>
    <p id="D241">Desporto24</p>
    <p id="D242">Desporto24</p>
    <p id="D243">Desporto24</p>
    <p id="D244">Desporto24</p>
    <p id="D245">Desporto24</p>
    <p id="D246">Desporto24</p>
    <p id="D247">Desporto24</p>
    <p id="D248">Desporto24</p>
      <div class="image-preview" id="imagePreview">
        <img src="{{selectedSessao?.foto}}" alt="Image Preview" class="image-preview__image"/>
<ul>
<li id="dataNascimento">Data de jogo</li>
    <li id="dataNascimento2"> {{selectedSessao?.dataDeJogo}}
    </li>
    <li id="genero">Nº máximo jogadores</li>
    <li id="genero2"> {{selectedSessao?.jogadores}} </li>
    <li id="paisNascimento">Localidade</li>
    <li id="paisNascimento2"> {{selectedSessao?.localidade}} </li>
    <li id="desportosFavoritos">Morada de jogo</li>
    <li id="desportosFavoritos2"> {{selectedSessao?.morada}}</li>
  <li id="estadoDaConta">Tipo de jogo</li>
  <li id="membroDesde">Jogo criado por:</li>
  <li id="membroDesde2"> {{selectedSessao?.utilizador}}</li>
<li  id="ultimoLogin">Jogo criado no dia:</li>
<li  id="ultimoLogin2"> {{selectedSessao?.dataDeJogoCriado}}</li>
</ul>
<button (click)="fecharSessao()" id="botaoFechar">X</button>
<button id="setadir" type="button"><i class="fas fa-angle-double-right"></i>&nbsp;&nbsp;</button>
<button id="setaesq" type="button"><i class="fas fa-angle-double-left"></i>&nbsp;&nbsp;</button>
<button id="botaoChat">Iniciar Chat</button>
</div>
</div>
</div>