<div class="img">
    <h1>Desporto24</h1>
<h2>Olá {{NomeUtilizador()}}, qual é o desporto que queres fazer hoje?</h2>
<div class="content">
    <button href="#" routerLink="events" routerLinkActive="active-link">Eventos</button>
</div>
<div class="content2">
    <button (click) = "alterarDados()" routerLinkActive="active-link">Alterar dados do perfil</button>
</div>
<div class="content3">
    <button (click) = "alterarPassword()" routerLinkActive="active-link">Alterar nome de utilizador/password</button>
</div>
<div class="content4">
    <button (click)="Utilizadores()">Mais utilizadores</button>
</div>
<div class="content5">
    <button (click)="remover()" routerLink="login">Terminar Sessão</button>
</div>
</div>
<h3>Os teus dados pessoais:</h3>
<table id="tabela1">
    <tr>
        <th>Foto de perfil</th>
        <td>
            <img id="img" src="{{perfil.foto}}"/>
        </td>
    </tr>
    <tr>
        <th>Nome de utilizador</th>
        <td> {{perfil.username}}</td>
    </tr>
    <tr>
        <th>Data de nascimento</th>
        <td> {{perfil.dateOfBirth}}</td>
    </tr>
    <tr>
        <th>Género</th>
        <td> {{perfil.gender}} </td>
    </tr>
    <tr>
        <th>País de nascimento</th>
        <td> {{perfil.country}} </td>
    </tr>
    <tr>
        <th>Email</th>
        <td> {{perfil.email}}</td>
    </tr>
    <tr>
        <th>Desportos favoritos</th>
        <td> {{perfil.desportosFavoritos}}</td>
    </tr>
    <tr>
        <th>Morada</th>
        <td> {{perfil.address}}</td>
    </tr>
    <tr>
        <th>Localidade</th>
        <td> {{perfil.location}}</td>
    </tr>
    <tr>
        <th>Telemóvel</th>
        <td> {{perfil.phone}}</td>
    </tr>
</table>