body{
    padding: 0;
    margin: 0;
}
.img{
    animation: transition 0.75s;
    height: 100vh;
    background-image: url(src\assets\tunel.jpg);     
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
h1{
    color: white;
    font-size: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translateX(0%) translateY(0);
}
#input1{
    font-size: 15px;
    color: white;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 35%;
    left: 5%;
    transform: translateX(0%) translateY(0);
}
#desporto{
    font-size: 15px;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 35%;
    left: 27.5%;
    transform: translateX(0%) translateY(0);
}
#desporto2{
    font-size: 15px;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translateX(0%) translateY(0);
}
#input2{
    font-size: 20px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translateX(0%) translateY(0);
}
#espaco1{
    width: 325px;
    font-size: 15px;
    height: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translateX(0%) translateY(0);
}
#espaco2{
    width: 200px;
    font-size: 15px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translateX(0%) translateY(0);
}
#espaco3{
    color:white;
    width: 100px;
    font-size: 15px;
    height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translateX(0%) translateY(0);
}
#espaco4{
    color:white;
    width: 400px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 55%;
    left: 4%;
    transform: translateX(0%) translateY(0);
}
#espaco5{
    color:white;
    width: 450px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 65%;
    left: 3%;
    transform: translateX(0%) translateY(0);
}
#espaco6{
    color:black;
    width: 100px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 65%;
    left: 37.5%;
    transform: translateX(0%) translateY(0);
}
#espaco7{
    color:black;
    width: 500px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 75%;
    left: 5%;
    transform: translateX(0%) translateY(0);
}
.espaco8{
    color:white;
    width: 200px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 85%;
    left: 3.5%;
    transform: translateX(0%) translateY(0);
}
.espaco9{
    color:white;
    width: 250px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 90%;
    left: 4%;
    transform: translateX(0%) translateY(0);
}
#espaco10{
    color:black;
    width: 400px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 85%;
    left: 25%;
    transform: translateX(0%) translateY(0);
}
#espaco11{
    color:black;
    width: 400px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 90%;
    left: 25%;
    transform: translateX(0%) translateY(0);
}
.espaco12{
    color:white;
    width: 300px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translateX(0%) translateY(0);
}
#espaco13{
    color:white;
    width: 400px;
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translateX(0%) translateY(0);
}
#espaco14{
    color:black;
    width: 200px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translateX(0%) translateY(0);
}
.image-preview{
    width: 450px;
    height: 350px;
    border: 2px solid #dddddd;
    position: absolute;
    left: 52.5%;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
}
.image-preview__image{
    width: 100%;
    height: 100%;
}
#inpFile{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 100%;
    left: 62.5%;
    transform: translateX(0%) translateY(0);
}
#input4{
    text-decoration: none;
    color: white;
    background: blue;
    width: 300px;
    font-size: 20px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 65%;
    left: 43%;
    transform: translateX(0%) translateY(0);
}
#botao1{
    text-decoration: none;
            color: black;
            background-color: white;
            font-size: 20px;
            width: 200px;
            margin: 0;
            padding: 1px;
            text-align: center;
            font-family: 'Arial';
            font-weight: bold;
            position: absolute;
            top: 100%;
            left: 40%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
}
#botao2{
    text-decoration: none;
            color: black;
            background-color: white;
            font-size: 20px;
            width: 200px;
            margin: 0;
            padding: 1px;
            text-align: center;
            font-family: 'Arial';
            font-weight: bold;
            position: absolute;
            top: 100%;
            left: 20%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
}
#botao1:hover{
            background-color: lightblue;
            color: white;
            transition: background-color 0.5s;
        }
        #botao2:hover{
            background-color: lightblue;
            color: white;
            transition: background-color 0.5s;
        }
#botao3{
    text-decoration: none;
    color: black;
    width: 150px;
    font-size: 15px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 34%;
    left: 37.5%;
    transform: translateX(0%) translateY(0);
}
h2{
    color: white;
    font-size: 30px;
    height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 22.5%;
    left: 35%;
    transform: translateX(0%) translateY(0);
}
.img-fluid{
    width: 1300px;
    height: 700px;
}
.alert-danger{
    background-color: red;
}
.alert{
    color: white;
}
.danger {
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 90%;
    left: 48%;
    transform: translateX(0%) translateY(0);
}