<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    
    <meta charset="ISO-8859-1">
    <title>Desporto24</title>
    <link rel="stylesheet">
</head>
    <div *ngIf="dark" class="img">
        <h1 id="h1white">Desporto24</h1>
        <div id="container2">
            <p id="D24a">Desporto24</p>
                    <p id="D241a">Desporto24</p>
                    <p id="D243a">Desporto24</p>
                    <p id="D244a">Desporto24</p>
                    <p id="D245a">Desporto24</p>
              </div>
        <form #createSession="ngForm" (ngSubmit)="onCreatingNewSession()" name="form" action="#">
            <label id="input1">Seleciona o desporto que queres praticar:</label>
        <select id="desporto" [(ngModel)]="session.desporto" name="desporto" required>
            <option value="Futebol">Futebol</option>
            <option value="Voleibol">Voleibol</option>
            <option value="Basquetebol">Basquetebol</option>
            <option value="Andebol">Andebol</option>
            <option value="Ténis">Ténis</option>
            <option value="Padel">Padel</option>
            <option value="Karts">Karts</option>
            <option value="Outro">Outro</option>
        </select>
        <input *ngIf="showMe" [(ngModel)]="session.desporto" name="desporto" id="espaco1" placeholder="coloca aqui o desporto que pretendes praticar">
        <label id="espaco3">Data de jogo:</label>
        <input id="espaco2" [(ngModel)]="session.dataDeJogo" name="datadejogo" class="dateOfBirth" min="{{minDate}}" #input [(ngModel)]="value" (change)="onChange(input.value)" type="datetime-local" placeholder="Data de jogo" required>
        <label id="espaco4">Define por favor o limite de jogadores para a tua sessão:</label>
        <select id="desporto2" [(ngModel)]="session.jogadores" name="jogadores" class="country" name="country" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="other">mais que 30</option>
        </select>
        <input type="text" [(ngModel)]="session.localidade" name="localidade" placeholder="Coloca aqui a localidade" id="espaco14" required>
        <input type="text" [(ngModel)]="session.morada" name="morada" placeholder="Coloca aqui a morada completa do campo" id="espaco7" required>
    <div class="espaco8">
        <input type="checkbox" (click)="toogleTag2()"> Quero um jogo privado
    </div>
    <input id="espaco10" [(ngModel)]="session.password" name="password" *ngIf="showMe2" type="text" placeholder="Por favor,define aqui a tua palavra-passe para o jogo.">
    <div class="espaco9">
        <input type="checkbox" (click)="toogleTag3()"> Quero colocar preço por jogador
    </div>
    <input id="espaco11" [(ngModel)]="session.preco" *ngIf="showMe3" type="text" name="preco" placeholder="Por favor,coloca aqui o valor em euros para o teu jogo.">
    <label id="espaco13">Fotografia do Campo:</label>
    <input name="foto" (change)="onSessionImageChange($event)" type="file" class="inpFilewhite">
    <div class="image-preview" id="imagePreview">
    <img [src]="url" alt="Image Preview" class="image-preview__image">
    </div>
</form>
        <button id="botao1">
        <i *ngIf= "showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="showLoading">A carregar...</span>
        <span *ngIf="!showLoading">Criar Sessão</span>
        </button>
            <button href="#" routerLink="menu" id="botao2">Voltar atrás</button>
    </div>
    <div *ngIf="!dark" class="img2">
            <h1 id="h1black">Desporto24</h1>
            <div id="container">
                <p id="D24">Desporto24</p>
                        <p id="D241">Desporto24</p>
                        <p id="D243">Desporto24</p>
                        <p id="D244">Desporto24</p>
                        <p id="D245">Desporto24</p>
                  </div>
        <form #createSession="ngForm" (ngSubmit)="onCreatingNewSession()" name="form" action="#">
            <label id="input1">Seleciona o desporto que queres praticar:</label>
        <select id="desporto" [(ngModel)]="session.desporto" name="desporto" required>
            <option value="Futebol">Futebol</option>
            <option value="Voleibol">Voleibol</option>
            <option value="Basquetebol">Basquetebol</option>
            <option value="Andebol">Andebol</option>
            <option value="Ténis">Ténis</option>
            <option value="Padel">Padel</option>
            <option value="Karts">Karts</option>
            <option value="Outro">Outro</option>
        </select>
        <div class="espaco12">
        </div>
        <input *ngIf="showMe" [(ngModel)]="session.desporto" name="desporto" id="espaco1" placeholder="coloca aqui o desporto que pretendes praticar">
        <label id="espaco3">Data de jogo:</label>
        <input id="espaco2" [(ngModel)]="session.dataDeJogo" name="datadejogo" class="dateOfBirth" min="{{minDate}}" #input [(ngModel)]="value" (change)="onChange(input.value)" type="datetime-local" placeholder="Data de jogo" required>
        <label id="espaco4">Define por favor o limite de jogadores para a tua sessão:</label>
        <select id="desporto2" [(ngModel)]="session.jogadores" name="jogadores" class="country" name="country" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="other">mais que 30</option>
        </select>
        <input type="text" [(ngModel)]="session.localidade" name="localidade" placeholder="Coloca aqui a localidade" id="espaco14" required>
        <input type="text" [(ngModel)]="session.morada" name="morada" placeholder="Coloca aqui a morada completa do campo" id="espaco7" required>
    <div class="espaco8">
        <input type="checkbox" (click)="toogleTag2()">Quero um jogo privado
    </div>
    <input id="espaco10" [(ngModel)]="session.password" name="password" *ngIf="showMe2" type="text" placeholder="Por favor,coloca aqui a tua palavra-passe para o jogo.">
    <div class="espaco9">
        <input type="checkbox" (click)="toogleTag3()">Quero colocar preço por jogador
    </div>
    <input id="espaco11" [(ngModel)]="session.preco" *ngIf="showMe3" type="text" name="preco" placeholder="Por favor,coloca aqui o valor em euros para o teu jogo.">
    <label id="espaco13">Fotografia do Campo:</label>
    <input [(ngModel)]="session.foto" (change)="onSessionImageChange($event)" name="foto" type="file" class="inpFile" accept="image/*" required>
    <div class="image-preview" id="imagePreview">
    <img [src]="url" alt="Image Preview" class="image-preview__image">
    <span  class="image-preview__default-text"></span>
    </div>
</form>
        <button id="botao1">
        <i *ngIf= "showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="showLoading">A carregar...</span>
        <span *ngIf="!showLoading">Criar Sessão</span>
        </button>
            <button href="#" routerLink="menu" id="botao2">Voltar atrás</button>
    </div>
        </html>
