<div><img [src]="minhaImagem"class="img-fluid" alt=""></div>
<h1>Quem somos nós?</h1>
<label>Olá, nós somos alguém que te quer proporcionar um, dois ou imensos bons momentos desportivos.<p>O nosso objetivo ao criarmos este site é para ajudar todos aqueles amantes
    de desporto que tem dificuldade em encontrar alguém para praticar qualquer tipo de desporto.
    <p>Nós entendemos que o desporto deve estar presente na vida de todos nós. Para além de ser algo que nos faz falta e que faz bem à saude, também nos pode proporcionar grandes momentos e conhecer mais pessoas
    de todo o lado e quem sabe criando amizades.</p>
    Esperemos que te venhas a divertir muito connosco como nós divertimos a fazer este site para ti!
    Diverte-te! Pratica desporto!</label>