<div class="img">
    <h1>DESPORTO24</h1>
<h2>Quem somos nós?</h2>
<label>Olá, nós somos alguém que te quer proporcionar um, dois ou imensos bons momentos desportivos.<p>O nosso objetivo ao criarmos este site é para ajudar todos aqueles amantes
    de desporto que tem dificuldade em encontrar alguém para praticar qualquer tipo de desporto.
    <p>Este site serve para facilitar a pratica de desporto comunicando sessões desportivas de utilizadores de qualquer tipo de desporto perto de ti.</p>
    <p>Nós entendemos que o desporto deve estar presente na vida de todos nós. Para além de ser algo que nos faz falta e que faz bem à saude, também nos pode proporcionar grandes momentos e conhecer mais pessoas
    de todo o lado e quem sabe criando amizades.</p>
    Esperemos que te venhas a divertir muito connosco como nós divertimos a fazer este site para ti!
    Diverte-te! Pratica desporto!</label>
</div>