<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
      <head>
        <meta charset="ISO-8859-1">
        <title>Desporto24</title>
        <link rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<div *ngIf="dark" class="img">
<h1 id="h1white">Desporto24</h1>
<div id="container2">
    <p id="D24a">Desporto24</p>
    <p id="D241a">Desporto24</p>
    <p id="D243a">Desporto24</p>
    <p id="D244a">Desporto24</p>
    <p id="D245a">Desporto24</p>
</div>
<h2 id="h2white">Alterar password/nome de utilizador</h2>
<h4 id="h4white">O teu nome de utilizador de momento é: {{obterNomeUtilizador()}}</h4>
<form #updateAccount="ngForm" (ngSubmit)="onUpdatePerfilPassword()" name="form" action="#">
<input #Username="ngModel" id="input1" [(ngModel)]="editPerfil.username" type="text" class="username" name="username" placeholder="Nome de utilizador" required/>
<span (click)="viewPass()" class="eyeicon"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
<input id="password" #Password="ngModel" [(ngModel)]="editPerfil.password" [type]="changetype?'password':'text'" name="password" class="password" placeholder="Password" required>
<input #ConfirmPassword="ngModel" id="confirmPassword" [(ngModel)]="editPerfil.confirmPassword" appConfirmEqualValidation="password" name="confirmPassword" [type]="changetype?'password':'text'" class="confirmPassword" placeholder="Confirmar password" required>
<button type="submit" id="botao2">
<i *ngIf= "showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="showLoading">A atualizar...</span>
        <span *ngIf="!showLoading">Atualizar</span>
    </button>
</form>
<button href="#" routerLink="menu" id="botao1">Voltar atrás</button>
</div>
<div *ngIf="!dark" class="img2">
<h1 id="h1black">Desporto24</h1>
<div id="container">
    <p id="D24">Desporto24</p>
        <p id="D241">Desporto24</p>
        <p id="D243">Desporto24</p>
        <p id="D244">Desporto24</p>
        <p id="D245">Desporto24</p>
        </div>
<h2 id="h2black">Alterar password/nome de utilizador</h2>
<h4 id="h4black">O teu nome de utilizador de momento é: {{obterNomeUtilizador()}}</h4>
<form #updateAccount="ngForm" (ngSubmit)="onUpdatePerfilPassword()" name="form" action="#">
<input #Username="ngModel" id="input1" [(ngModel)]="editPerfil.username" type="text" class="username" name="username" placeholder="Nome de utilizador" required/>
<span (click)="viewPass()" class="eyeicon1"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
<input id="password" #Password="ngModel" [(ngModel)]="editPerfil.password" [type]="changetype?'password':'text'" name="password" class="password" placeholder="Password" required>
<input #ConfirmPassword="ngModel" id="confirmPassword" [(ngModel)]="editPerfil.confirmPassword" appConfirmEqualValidation="password" name="confirmPassword" [type]="changetype?'password':'text'" class="confirmPassword" placeholder="Confirmar password" required>
<button type="submit" id="botao2">
<i *ngIf= "showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="showLoading">A atualizar...</span>
        <span *ngIf="!showLoading">Atualizar</span>
    </button>
</form>
<button href="#" routerLink="menu" id="botao1">Voltar atrás</button>
</div>
</html>

