<<<<<<< HEAD
.img{
    animation: transition 0.75s;
    height: 100vh;
    background-image: url(src\assets\bike.jpg);     
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.img-fluid{
    width: 1300px;
    height: 700px;
}
.eyeicon{
    position: absolute;
        top: 67.5%;
        left: 60%;
        transform: translate(-50%, -50%);
    color: white;
}
h1{
    color: white;
        font-size: 100px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Copperplate Gothic Medium';
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
}
h2 {
    color: white;
    font-size: 40px;
    margin: 0;
    width: max-content;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
}
h4 {
    color: white;
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    width: max-content;
}
#input1{
    font-size: 15px;
    height: 40px;
    width: 215px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#password{
    font-size: 15px;
    height: 40px;
    width: 215px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 67.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#confirmPassword{
    font-size: 15px;
    height: 40px;
    width: 215px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#botao2{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 300px;
    margin: 0;
    padding: 1px;
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#botao2:hover{
    background-color: lightblue;
    color: white;
    transition: background-color 0.5s;
}
#botao3{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 300px;
    margin: 0;
    padding: 1px;
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#botao3:hover{
    background-color: lightblue;
    color: white;
    transition: background-color 0.5s;
}
.container form .error-text{
    background: #F8D7DA;
    padding: 8px 0;
    border-radius: 5px;
    color: #8B3E46;
    border: 1px solid #F5C6CB;
    display: none;
=======
.img{
    animation: transition 0.75s;
    height: 100vh;
    background-image: url(src\assets\bike.jpg);     
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.img-fluid{
    width: 1300px;
    height: 700px;
}
.eyeicon{
    position: absolute;
        top: 67.5%;
        left: 60%;
        transform: translate(-50%, -50%);
    color: white;
}
h1{
    color: white;
        font-size: 100px;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Copperplate Gothic Medium';
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
}
h2 {
    color: white;
    font-size: 40px;
    margin: 0;
    width: max-content;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
}
h4 {
    color: white;
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    width: max-content;
}
#input1{
    font-size: 15px;
    height: 40px;
    width: 215px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#password{
    font-size: 15px;
    height: 40px;
    width: 215px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 67.5%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#confirmPassword{
    font-size: 15px;
    height: 40px;
    width: 215px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#botao2{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 300px;
    margin: 0;
    padding: 1px;
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#botao2:hover{
    background-color: lightblue;
    color: white;
    transition: background-color 0.5s;
}
#botao3{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 20px;
    width: 300px;
    margin: 0;
    padding: 1px;
    text-align: center;
    font-family: 'Arial';
    font-weight: bold;
    position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#botao3:hover{
    background-color: lightblue;
    color: white;
    transition: background-color 0.5s;
}
.container form .error-text{
    background: #F8D7DA;
    padding: 8px 0;
    border-radius: 5px;
    color: #8B3E46;
    border: 1px solid #F5C6CB;
    display: none;
>>>>>>> 202330b3f2eb933769daa09fff17e79d050c114f
}