<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<h1>Desporto24</h1>
<h2>Mudar de password/nome de utilizador</h2>
<h3>Aqui podes alterar a tua password ou nome de utilizador, pedimos-te que preenchas todos espaços para concluires a alteração!</h3>
<body>
<div><img [src]="minhaImagem" class="img-fluid" alt=""></div>
<h4>O teu nome de utilizador de momento é: {{obterNomeUtilizador()}}</h4>
<form #passwordValidation="ngForm" #updateAccount="ngForm" (ngSubmit)="onSubmit()" name="form" action="#">
<input #Username="ngModel" id="input1" [(ngModel)]="perfil.username" type="text" class="username" name="username" placeholder="Nome de utilizador" required/>
<input id="password" #Password="ngModel" [(ngModel)]="perfil.password" type="password" name="password" class="password" placeholder="Password" required>
<input #ConfirmPassword="ngModel" id="confirmPassword" [(ngModel)]="perfil.confirmPassword" appConfirmEqualValidation="password" name="confirmPassword" type="password" class="confirmPassword" placeholder="Confirmar password" required>
<button type="submit" id="botao2" [disabled]="!updateAccount.valid">Concluir Alterações</button>
</form>
<button href="#" routerLink="menu" id="botao3">Voltar atrás</button>

