<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<h1>Desporto24</h1>
<h2>Alterar password/nome de utilizador</h2>
<body>
<div class="img">
<h4>O teu nome de utilizador de momento é: {{obterNomeUtilizador()}}</h4>
<form #passwordValidation="ngForm" #updateAccount="ngForm" (ngSubmit)="onUpdatePerfilPassword()" name="form" action="#">
<input #Username="ngModel" id="input1" [(ngModel)]="editPerfil.username" type="text" class="username" name="username" placeholder="Nome de utilizador" required/>
<span (click)="viewPass()" class="eyeicon"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
<input id="password" #Password="ngModel" [(ngModel)]="editPerfil.password" [type]="changetype?'password':'text'" name="password" class="password" placeholder="Password" required>
<input #ConfirmPassword="ngModel" id="confirmPassword" [(ngModel)]="perfil.confirmPassword" appConfirmEqualValidation="password" name="confirmPassword" [type]="changetype?'password':'text'" class="confirmPassword" placeholder="Confirmar password" required>
<button type="submit" id="botao2">
<i *ngIf= "showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
        <span *ngIf="showLoading">A atualizar...</span>
        <span *ngIf="!showLoading">Atualizar</span>
    </button>
</form>
<button href="#" routerLink="menu" id="botao3">Voltar atrás</button>
</div>

