<div class="img">
<body>
  <h1>Desporto24</h1>
    <h2>Jogadores inscritos</h2>
    <!--<h3> *ngIf="titleAction$ | async as title">{{ title }}</h3>-->
          <form>
            <input name="searchTerm" #searchTerm="ngModel" ngModel (ngModelChange)="procurarPerfis(searchTerm.value)" id="input1" type="search" placeholder="Procurar perfil...">
          </form>
        <button id="botao1" type="button" (click)="obterPerfis(true)" class="btn btn-info">
            <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i>
            <i *ngIf="!refreshing" class="fas fa-sync"></i>
        </button>
    <table id="tabela1">
        <thead>
            <tr>
                <th>Foto de perfil</th>
                <th>Nome de utilizador</th>
                <th>Data de nascimento</th>
                <th>Género</th>
                <th>País de nascimento</th>
                <th>Desportos favoritos</th>
            </tr>
        </thead>
        <tbody *ngFor="let perfil of perfis" id="tabela2">
                <td (click)="onSelectPerfil(perfil)">
                    <img height="40" width="40" src="{{perfil.foto}}" class="rounded-circle img-fluid img-thumbnail" alt=""/>
                </td>
                <td (click)="onSelectPerfil(perfil)"> {{perfil.username}}</td>
                <td (click)="onSelectPerfil(perfil)"> {{perfil.dateOfBirth}}</td>
                <td (click)="onSelectPerfil(perfil)"> {{perfil.gender}} </td>
                <td (click)="onSelectPerfil(perfil)"> {{perfil.country}} </td>
                <td (click)="onSelectPerfil(perfil)"> {{perfil.desportosFavoritos}}</td>
        </tbody>
    </table>
    <button id="botao2" routerLink="menu" type="button">
      <i *ngIf= "showLoading" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
      <span *ngIf="showLoading">A carregar...</span>
      <span *ngIf="!showLoading">Voltar para o menu principal</span>
  </button> 
  
      <div *ngIf="show" id="viewPerfilModal">
        <p id="D24">Desporto24</p>
        <p id="D241">Desporto24</p>
        <p id="D242">Desporto24</p>
        <p id="D243">Desporto24</p>
        <p id="D244">Desporto24</p>
        <p id="D245">Desporto24</p>
        <p id="D246">Desporto24</p>
        <p id="D247">Desporto24</p>
        <p id="D248">Desporto24</p>
          <div class="image-preview" id="imagePreview">
            <img src="{{selectedPerfil?.foto}}" alt="Image Preview" class="image-preview__image"/>
          </div>
    <div id="username">
        {{selectedPerfil?.username}}
    </div>
    <ul>
    <li id="dataNascimento">Data de nascimento</li>
        <li id="dataNascimento2"> {{selectedPerfil?.dateOfBirth}}
        </li>
        <li id="genero">Género </li>
        <li id="genero2"> {{selectedPerfil?.gender}} </li>
        <li id="paisNascimento">País de nascimento </li>
        <li id="paisNascimento2"> {{selectedPerfil?.country}} </li>
        <li id="desportosFavoritos">Desportos favoritos</li>
        <li id="desportosFavoritos2"> {{selectedPerfil?.desportosFavoritos}}</li>
        <li id="localidade">Localidade</li>
        <li id="localidade2"> {{selectedPerfil?.location}}</li>
      <li id="estadoDaConta">Estado da conta:</li>
      <li>
          <span *ngIf="locked" id="estadoDaConta2">Conta bloqueada</span>
          <span *ngIf="!locked" id="estadoDaConta2">Conta ativa</span>
      </li>
      <li id="membroDesde">Membro desde:</li>
      <li id="membroDesde2"> {{selectedPerfil?.joinDate}}</li>
    <li  id="ultimoLogin">Ultimo Login:</li>
    <li  id="ultimoLogin2"> {{selectedPerfil?.lastLoginDateDisplay}}</li>
    </ul>
<button (click)="fecharPerfil()" id="botaoFechar">X</button>
<button id="setadir" type="button"><i class="fas fa-angle-double-right"></i>&nbsp;&nbsp;</button>
<button id="setaesq" type="button"><i class="fas fa-angle-double-left"></i>&nbsp;&nbsp;</button>
<button id="botaoChat">Iniciar Chat</button>