        body{
            padding: 0;
            margin: 0;
        }
        h1{
            color: white;
            font-size: 100px;
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: 'Copperplate Gothic Medium';
            position: absolute;
            top: 10%;
            left: 30%;
            transform: translateX(0%) translateY(0);
        }
        #input1{
            font-size: 20px;
            height: 30px;
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: 'Arial';
            position: absolute;
            top: 35%;
            left: 43%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
        }
        #input2{
            font-size: 20px;
            height: 30px;
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: 'Arial';
            position: absolute;
            top: 45%;
            left: 43%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
        }
        #input3{
            text-decoration: none;
            color: black;
            background-color: white;
            font-size: 20px;
            width: 300px;
            margin: 0;
            padding: 1px;
            text-align: center;
            font-family: 'Arial';
            font-weight: bold;
            position: absolute;
            top: 55%;
            left: 41.5%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
        }
        #input3:hover{
            background-color: lightblue;
            color: white;
            transition: background-color 0.5s;
        }
        #input4{
            text-decoration: none;
            color: black;
            background-color: white;
            font-size: 20px;
            width: 300px;
            margin: 0;
            padding: 1px;
            text-align: center;
            font-family: 'Arial';
            font-weight: bold;
            position: absolute;
            top: 65%;
            left: 41.5%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
        }
        #input4:hover{
            background-color: lightblue;
            color: white;
            transition: background-color 0.5s;
        }
        #input5{
            text-decoration: none;
            color: black;
            background-color: white;
            font-size: 20px;
            width: 300px;
            margin: 0;
            padding: 1px;
            text-align: center;
            font-family: 'Arial';
            font-weight: bold;
            position: absolute;
            top: 75%;
            left: 41.5%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
        }
        #input5:hover{
            background-color: lightblue;
            color: white;
            transition: background-color 0.5s;
        }
        h2{
            color: white;
            font-size: 10px;
            height: 40px;
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: 'Arial';
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translateX(0%) translateY(0);
        }
        .img{
            animation: transition 0.75s;
            height: 100vh;
            background-image: url(src\assets\Sports1.jpg);     
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center center;
        }
        .alert-danger{
            background-color: red;
        }
        .alert{
            color: white;
        }
        .danger {
            color: red;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: 'Arial';
            position: absolute;
            top: 90%;
            left: 48%;
            transform: translateX(0%) translateY(0);
        }
    .eyeicon{
        position: absolute;
        color: white;
        left: 60%;
        top: 45.4%
    }
    @keyframes transition {
        from {
            opacity: 0;
            transform: rotateX(-10deg);
        }
        to{
            opacity: 1;
            transform: rotateX(0);
        }
    }
    @media screen and (max-width: 1024px) { /* Specific to this particular image */
        .img {
          left: 50%;
          margin-left: -512px;   /* 50% */
        }
    }
    