.img{
    animation: transition 0.75s;
    height: 100vh;
    background-color: black;     
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.img2{
    animation: transition 0.75s;
    height: 100vh;
    background-color: white;     
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
#h1white{
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
}
#h1black{
    color: black;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
}
@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .img {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}
@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
@keyframes slide-right {
    from {
        transform: translate(150%, -50%);
    }

    to {
        transform: translate(-150%, -50%);
    }
 }
 @keyframes slide-left {
    from {
        transform: translate(-70%, -50%);
    }

    to {
        transform: translate(150%, -50%);
    }
 }
#D24{
    color: black;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 20%;
        left: 70%;
        opacity: 20%;
        animation: infinite 100s slide-right;
}
#D241{
    color: black;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 40%;
        left: 10%;
        opacity: 20%;
        animation: infinite 100s slide-left;
}
#D243{
    color: black;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 60%;
        left: -30%;
        opacity: 20%;
        animation: infinite 100s slide-right;
}
#D244{
    color: black;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 100%;
        left: 8%;
        opacity: 20%;
        animation: infinite 100s slide-right;
}
#D245{
    color: black;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 80%;
        left: 50%;
        opacity: 20%;
        animation: infinite 100s slide-left;
}
#D24a{
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 20%;
        left: 70%;
        opacity: 20%;
        animation: infinite 100s slide-right;
}
#D241a{
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 40%;
        left: 10%;
        opacity: 20%;
        animation: infinite 100s slide-left;
}
#D243a{
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 60%;
        left: -30%;
        opacity: 20%;
        animation: infinite 100s slide-right;
}
#D244a{
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 100%;
        left: 8%;
        opacity: 20%;
        animation: infinite 100s slide-right;
}
#D245a{
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Copperplate Gothic Medium';
    position: absolute;
        top: 80%;
        left: 50%;
        opacity: 20%;
        animation: infinite 100s slide-left;
}
.img-fluid{
    width: 2000px;
    height: 1000px;
}
.image-preview{
    width: 200px;
    height: 250px;
    border: 2px solid #dddddd;
    position: absolute;
        top: 65%;
        left: 72.5%;
        transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
    border-radius: 20%;
}
.image-preview__image{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
#container{
    font-size: 15px;
    height: 80vh;
    width: 200vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    background-color: white;
    position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    overflow: hidden;
}
#container2{
    font-size: 15px;
    height: 80vh;
    width: 200vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    background-color: black;
    position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    overflow: hidden;
}
.inpFile{
    color: black;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 90%;
        left: 75%;
        transform: translate(-50%, -50%);
}
.inpFilewhite{
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 90%;
        left: 75%;
        transform: translate(-50%, -50%);
}
h4 {
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 40%;
        left: 72.5%;
        transform: translate(-50%, -50%);
}
#h4black {
    color: black;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 40%;
        left: 72.5%;
        transform: translate(-50%, -50%);
}
#input1{
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#password{
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#confirmPassword{
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input4{
    font-size: 15px;
    height: 25px;
    width: 590px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input5{
    font-size: 15px;
    height: 25px;
    width: 208px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#datanascimento{
    color:white;
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#datanascimentoblack{
    color:black;
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 60%;
    left: 8%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input6{
    font-size: 15px;
    height: 25px;
    width: 590px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#paises{
    font-size: 15px;
    height: 25px;
    width: 208px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#pais{
    font-size: 15px;
    color:white;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 65%;
    left: 8%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#paisblack{
    font-size: 15px;
    color:black;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 65%;
    left: 8%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input7{
    font-size: 15px;
    height: 25px;
    width: 208px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 75%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input8{
    font-size: 15px;
    height: 25px;
    width: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 75%;
    left: 30%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input9{
    font-size: 15px;
    height: 25px;
    width: 150px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 75%;
    left: 38%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#telemovel{
    font-size: 15px;
    color:white;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 36%;
        left: 35%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
#telemovelblack{
    font-size: 15px;
    color:black;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
        top: 36%;
        left: 35%;
        transform: translate(-50%, -50%);
    border-radius: 10px;
}
.indicativePhone{
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 36%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
#input10{
    font-size: 15px;
    height: 25px;
    width: 125px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input11{
    font-size: 15px;
    height: 25px;
    width: 590px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#radio1{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 80.5%;
    left: 30%;
    transform: translateX(0%) translateY(0);
}
#radio2{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 80.5%;
    left: 50%;
    transform: translateX(0%) translateY(0);
}
#masculino{
    color:white;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translateX(0%) translateY(0);
}
#feminino{
    font-size: 15px;
    color:white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translateX(0%) translateY(0);
}
#masculinoblack{
    color:black;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translateX(0%) translateY(0);
}
#femininoblack{
    font-size: 15px;
    color:black;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translateX(0%) translateY(0);
}
#genero{
    font-size: 15px;
    color:white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 80%;
    left: 10.5%;
    transform: translateX(0%) translateY(0);
}
#generoblack{
    font-size: 15px;
    color:black;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 80%;
    left: 10.5%;
    transform: translateX(0%) translateY(0);
}
#botao1{
    text-decoration: none;
            color: black;
            background-color: white;
            font-size: 20px;
            width: 200px;
            margin: 0;
            padding: 1px;
            text-align: center;
            font-family: 'Arial';
            font-weight: bold;
            position: absolute;
        top: 100%;
        left: 60%;
        transform: translate(-50%, -50%);
            border-radius: 10px;
}
#botao2{
    text-decoration: none;
            color: black;
            background-color: white;
            font-size: 20px;
            width: 200px;
            margin: 0;
            padding: 1px;
            text-align: center;
            font-family: 'Arial';
            font-weight: bold;
            position: absolute;
        top: 100%;
        left: 40%;
        transform: translate(-50%, -50%);
            border-radius: 10px;
}
#botao1:hover{
            background-color: lightblue;
            color: white;
            transition: background-color 0.5s;
        }
        #botao2:hover{
            background-color: lightblue;
            color: white;
            transition: background-color 0.5s;
        }
.eyeicon{
    position: absolute;
    left: 26%;
    top: 40%;
    color: white;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .img {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}
@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
        #type2{
            font-size: 15px;
            width: 590px;
            height: 50px;
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: 'Arial';
            position: absolute;
            top: 85%;
            left: 10%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
        }

