.img-fluid{
    width: 2000px;
    height: 1000px;
}
.image-preview{
    width: 200px;
    height: 250px;
    border: 2px solid #dddddd;
    position: absolute;
    left: 65%;
    top: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cccccc;
}
.image-preview__image{
    width: 100%;
    height: 100%;
}
#inpFile{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 110%;
    left: 65%;
    transform: translateX(0%) translateY(0);
}
h1{
    color: white;
    font-size: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top:10%;
    left: 40%;
    transform: translateX(0%) translateY(0);
}
h2 {
    color: white;
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 20%;
    left: 43%;
    transform: translateX(0%) translateY(0);
}
h3 {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 27%;
    left: 25%;
    transform: translateX(0%) translateY(0);
}
h4 {
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 60%;
    left: 63.5%;
    transform: translateX(0%) translateY(0);
}
#input1{
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#password{
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#confirmPassword{
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input3{
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input4{
    font-size: 15px;
    height: 25px;
    width: 466px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input5{
    font-size: 15px;
    height: 25px;
    width: 208px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#datanascimento{
    color:white;
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 65%;
    left: 8.3%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input6{
    font-size: 15px;
    height: 25px;
    width: 466px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#paises{
    font-size: 15px;
    height: 25px;
    width: 250px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 75%;
    left: 22.5%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#pais{
    font-size: 15px;
    color:white;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 75%;
    left: 8.3%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input7{
    font-size: 15px;
    height: 25px;
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 82%;
    left: 10%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input8{
    font-size: 15px;
    height: 25px;
    width: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 82%;
    left: 26.5%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input9{
    font-size: 15px;
    height: 25px;
    width: 70px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 82%;
    left: 32.9%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input10{
    font-size: 15px;
    height: 25px;
    width: 125px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#input11{
    font-size: 15px;
    height: 25px;
    width: 400px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateX(0%) translateY(0);
    border-radius: 10px;
}
#radio1{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45.6%;
    left: 68%;
    transform: translateX(0%) translateY(0);
}
#radio2{
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45.6%;
    left: 78%;
    transform: translateX(0%) translateY(0);
}
#masculino{
    color:white;
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45%;
    left: 71%;
    transform: translateX(0%) translateY(0);
}
#feminino{
    font-size: 15px;
    color:white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45%;
    left: 82%;
    transform: translateX(0%) translateY(0);
}
#genero{
    font-size: 15px;
    color:white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Arial';
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translateX(0%) translateY(0);
}
#botao1{
    text-decoration: none;
            color: black;
            background-color: white;
            font-size: 20px;
            width: 200px;
            margin: 0;
            padding: 1px;
            text-align: center;
            font-family: 'Arial';
            font-weight: bold;
            position: absolute;
            top: 110%;
            left: 30%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
}
#botao2{
    text-decoration: none;
            color: black;
            background-color: white;
            font-size: 20px;
            width: 200px;
            margin: 0;
            padding: 1px;
            text-align: center;
            font-family: 'Arial';
            font-weight: bold;
            position: absolute;
            top: 110%;
            left: 10%;
            transform: translateX(0%) translateY(0);
            border-radius: 10px;
}
#botao1:hover{
            background-color: lightblue;
            color: white;
            transition: background-color 0.5s;
        }
        #botao2:hover{
            background-color: lightblue;
            color: white;
            transition: background-color 0.5s;
        }
.container form .error-text{
    background: #F8D7DA;
    padding: 8px 0;
    border-radius: 5px;
    color: #8B3E46;
    border: 1px solid #F5C6CB;
    display: none;
}
.eyeicon{
    position: absolute;
    left: 20.2%;
    top: 45.1%
}